<!DOCTYPE html>
<html>

  <head>
    <title>
      JingleGram.me
    </title>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- // <script src="js/source/auth.js"></script> -->
    <script src="js/vendor/jquery-2.1.1.min.js"></script>
    <script src="js/vendor/jquery-onepagescroll.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/remix.js"></script>
    <script src="js/vendor/ThreeCanvas.js"></script>
    <script src="js/vendor/ThreeSnow.js"></script>
    <script src="js/vendor/jquery.fitvids.js"></script>
    <script src="js/vendor/snowstorm.js"></script>
    <script src="js/source/main-jingle.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=authinit"></script>
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/vendor/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/vendor/onepagescroll.css" />
    <link rel="stylesheet" type="text/css" href="css/source/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/source/fonts.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Arvo|Lobster|Changa+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/source/app.css" />
  </head>
  <body class="jingle">
    <h6 class="hide" id="youtube"><%=youtube%></h6>
    <h6 class="hide" id="bling"><%=jing%></h6>
    <h6 class="hide" id="jing"><%=bling%></h6>
    <h6 class="hide" id="message"><%=message%></h6>
    <div class="main container-fluid">
      <section class="section1">
        <div class="row col">
          <div class="col-sm-3 col-xs-12 col-sm-offset-1">
            <h1 class="lobster small-logo"><i class="icon-sleigh-bell"></i>JingleGram</h1>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-5 col-xs-12 col-sm-offset-1 short-top-description">
            <p class="desc">
              JingleGram turns any Youtube Video into a Holiday spectacular.
            </p>
          </div>
        </div>
        <div class="row col video-row">
          <div class="col-sm-10 col-sm-offset-1 col-xs-12 video-box">
            <div class="videoEmbed" id="youtube"><%=youtube%></div>
          </div>
        </div>
        <div class="row col gram-row">
          <div class="col-sm-10 col-sm-offset-1 col-xs-12 gram-background">
            <div class="row">
              <div class="col-sm-7 col-xs-8 gram-message">
                <h2>A Message:</h2>
                <p><%=message%></p>
              </div>
              <div class="col-sm-5 col-xs-4 stamp-side">
                  <img src="../../img/stamp.png" width="100%" height="auto" />
              </div>
            </div>
          </div>
        </div>
        <div class="row col">
          <div class="col-sm-5 col-sm-offset-1 col-xs-6">
            <button type="submit" class="btn share-gram">
              <i class="icon-card-2"></i> Share your 'Gram
            </button>
          </div>
          <div class="col-sm-5 col-xs-6">
            <button type="submit" class="btn make-your-own">
              <i class="icon-card-2"></i> Make your own!
            </button>
          </div>
        </div>

        <div class="row play-stop">
          <div class="col-sm-12 col-xs-12">
            <button onClick="player.play(0, remixed);">Play!</button>
            <button onClick="player.stop();">Stop!</button>
          </div>
        </div>

        <footer>
          <div class="row col">
            <div class="col-sm-12 col-xs-12">
              <p>Icons made by Freepik, Dave Gandy, Icons8 from
                <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
                is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
            </div>
          </div>
        </footer>

      </section>

    </div>
  </body>

</html>
